/* @import './reset.css'; */
/* body{
  background: teal;
} */
* {
	box-sizing: border-box;
	margin: 0 auto;
	/* font-size: 20px; */
}
.container{
  border: 3px solid black;
  border-radius: 10px;
  width: 35%;
  max-width: 350px;
  min-width: 300px;
  height: 100%;
  min-height: 400px;
  background-color: #fff;
}
.footer{
  height: 100%;
  min-height: 100px;
  background-color: black;
  margin-top: 20px;
}
.header{
  text-align: center;
}
.img-container{
  overflow: hidden;
  width: 180px;
  height: 180px;
  border: 5px solid white;
  border-radius: 50%;
  margin: 0 auto;
}
.img-container > img{
  width: 180px;
	height: 180px;
  object-fit: cover;
  /* object-position: 100% 70%;  */
}

.info > p{
text-align: center;
}
.social-info{
color:#F05918;
display: inline-block;
width: 30%;
margin:auto;
/*pick color from any website https://chrome.google.com/webstore/detail/eye-dropper/hmdcmlfkchdmnmnmheododdhjedfccka/related?hl=ru */
/*=====================*/
}
.social-info > p {
  text-align: center;
}
.text-header > p{
  font-size: 35px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.user-card-wrapper{
  height: 100%;
	/* border: 3px solid black; */
}
.user-card{
  width:100%;
  height: 100%;
  min-height:350px;
	min-width: 300px;
	max-width: 400px;
  background-color: #fff;
  
}